<div class="card">
 	<%= image_tag portfolio_img(portfolio.thumb_image, 'thumb') %>

  	<p class="card-text">
  		<span><%= link_to portfolio.title, portfolio_show_path(portfolio) %>  <%= portfolio.subtitle %></span> 
  	</p>
</div>
