<footer class="blog-footer">
  <p>
    <%= copyright_generator %>
  </p>
  <p>
    <!-- <a href="#">Back to top</a> -->
    <a href = "#"><%= fa_icon "fa-angle-double-up" %></a></li>
    
  </p>
</footer>