<footer class="blog-footer">
  <p>
    <%= copyright_generator %>
  </p>
  <p>
    <!-- Return to Top -->
<a href="javascript:" id="return-to-top"><i class="fa fa-angle-double-up" style="font-size:25px;color:white"></i></a>
  </p>
</footer>