<footer class="text-muted">
  <div class="container">
    <p class="float-right">
      <a href="javascript:" id="return-to-top">TOP</a>
    </p>
    <p><%= copyright_generator %> / <%= link_to "Create New Item", new_portfolio_url if logged_in?(:site_admin)%></p>
  </div>
</footer>

