<section class="jumbotron text-center">
  <div class="container">
    <h1 class="jumbotron-heading">MY PORTFOLIO</h1>
    <p class="leads">I have a website because it's an interesting tool, very - and quite unexpectedly - useful for my work. It's become an archive and a fairly complete on-line portfolio, as well as offering an opportunity to write a little.</p>
    <p>
      <a href="<%= itsme_rohan_path %>" class="btn btn-primary">about me</a>
      <a href="<%= blogs_path %>" class="btn btn-warning">read my blog</a>
    </p>
  </div>
</section>