<div class="inner cover">
  <h1 class="cover-heading">Welcome to my online home.</h2>
  <p class="lead">
    <span class="element">Cover is a one-page template for building simple and beautiful home pages. Download, edit the text, and add your own fullscreen background photo to make it your own.</p></span>
  </p>
  <p class="lead">
    <%= link_to "About Me", itsme_rohan_path, class: "btn btn-lg btn-secondary" %>
  </p>
</div>