<main role="main" class="inner cover">
  <h1 class="cover-heading">WELCOME YOU</h1>
  <p class="lead">Rails has done more for startups than a whole boatload of Venture Capitalists. Rails has had an incredible impact on the startup ecosystem.Ruby on Rails…is both revolutionary as a language as well as a framework.</p>
  <p class="lead">
    <a href="<%=  itsme_rohan_path %>" class="btn btn-lg btn-secondary">Learn more about me</a>
  </p>
</main>


